<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

main {
  /* font-family: "Noto Serif CJK KR", "Noto Serif KR", serif; */
  /* font-optical-sizing: auto;
  font-style: sans-serif;
  font-feature-settings: "chws", "halt" */
}
</style>
<link rel="me" href="https://social.silicon.moe/@moreal" />
<link rel="me" href="https://hackers.pub/@moreal" />
<meta name="author" content="Moreal (Lee Dogeon)" />
<meta name="fediverse:creator" content="moreal@hackers.pub" />
